.margin {
  margin: 10px;
}

.setCorrectNav {
  display: flex;
  flex-direction: row;
}

.backgroundBlue {
  background-color: #5f91ff;
}
.setPadding {
  padding-bottom: 200px;
}
.roundCorners {
  border: 5px solid black;
  border-radius: 20px;
}
.backgroundBlack {
  background-color: black;
}
.backgroundGrey {
  background-color: #cdd7d6;
}
.marginTop {
  margin-top: 30px;
}
.image {
  width: 500px;
  height: 500px;
}
.imageTwo {
  width: 100px;
  height: 100px;
}
.marginBottom {
  margin-bottom: 30px;
}
.height {
  height: 125vh;
}

.footer {
  background: black;
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0px;
  right: 0;
}

.zindex {
  z-index: 2;
}
.whiteText {
  color: white;
}
.positionAboslute {
  position: absolute;
}
.image {
  max-width: 250px;
  max-height: 250px;
}

@media only screen and (max-width: 1000px) {
  .height {
    height: 100%;
  }
  .noOverLap {
    margin-bottom: 150px;
  }
  .mobileHieght {
    height: 100vh;
  }
}
@media only screen and (max-width: 800px) {
  .flexColumn {
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
  }
  .projectHeight {
    height: 260vh;
  }
}
.mobilePortfolio {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.topheight {
  height: 500px;
}

.fancybackground {
  background: radial-gradient(ellipse at bottom, #0d1e31, #111);
}
.justifyItemsCenter {
  justify-items: center;
}
.fancyText {
  color: #5f91ff;
}
.marginBig {
  margin-left: 25px;
  margin-right: 25px;
}

.rowHeight {
  height: 400px;
}
.paddingTop {
  padding-top: 50px;
}
.noUnderline {
  text-decoration: none;
}
.displayInline {
  display: inline;
}
.marginLeft {
  margin-left: 5px;
}
.borderBottomBlue {
  border-bottom: 2px solid #5f91ff;
}

.overflowHidden {
  overflow: hidden;
}
.paddingZero {
  padding: 0px;
}
.textToCenter {
  text-align: center;
}
.icons {
  height: 50px;
  width: 50px;
}
.smallText {
  font-size: 25px;
}
.heighthome {
  height: 80vh;
}
.widthplus {
  width: 100%;
}
.atagDecor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: 50px;
  width: 100px;
}
.heightInherit {
  height: inherit;
}
