.margin {
  margin: 10px;
}

.setCorrectNav {
  display: flex;
  flex-direction: row;
}

.backgroundBlue {
  background-color: #2374ab;
}
.setPadding {
  padding-bottom: 200px;
}
.roundCorners {
  border: 5px solid black;
  border-radius: 20px;
}
.backgroundBlack {
  background-color: black;
}
.backgroundGrey {
  background-color: #cdd7d6;
}
.marginTop {
  margin-top: 30px;
}
.image {
  width: 500px;
  height: 500px;
}
.imageTwo {
  width: 100px;
  height: 100px;
}
.marginBottom {
  margin-bottom: 30px;
}
.height {
  height: 125vh;
}

.footer {
  height: 100px;
  position: relative;
  left: 0;
  bottom: 0px;
  right: 0;
}

.zindex {
  z-index: 2;
}
.whiteText {
  color: white;
}
.positionAboslute {
  position: absolute;
}
.image {
  max-width: 250px;
  max-height: 250px;
}

@media only screen and (max-width: 1000px) {
  .height {
    height: 300vh;
  }
}

.topheight {
  height: 500px;
}

.fancybackground {
  background: radial-gradient(ellipse at bottom, #0d1e31, #111);
}
.justifyItemsCenter {
  justify-items: center;
}
.fancyText {
  color: #5f91ff;
}
.marginBig {
  margin-left: 25px;
  margin-right: 25px;
}

.rowHeight {
  height: 400px;
}
.paddingTop {
  padding-top: 50px;
}
.noUnderline {
  text-decoration: none;
}
.displayInline {
  display: inline;
}
.marginLeft {
  margin-left: 5px;
}
